@tailwind base;
@tailwind components;
@tailwind utilities;



/* Layout Global - Full Bleed */
html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 243, 244, 246;
}

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #FFD31B;
  border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 243, 244, 246;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 243, 244, 246;
  }
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.wheelOne {
    animation: spin 2s linear infinite;
}

@keyframes moveRight {
    0%, 100% { left: -30px; }
    50% { left: calc(100% - 120px + 30px); }
}

@keyframes moveLeft {
    0%, 100% { left: calc(100% - 120px + 30px); }
    50% { left: -30px; }
}




